name: autofix.ci

on: [pull_request]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Lint fix
        run: pnpm lint:fix

      - name: Sync registry components
        run: bash scripts/sync-registry-components.sh

      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c
